[2020-10-12 16:39] Ray-LZ opened #3 "The server crashes"
When the app faces issues it will make the server crash, this happened while:

- Testing lighting scenes

- It happened before while testing the reset password link.

`Oct 12 08:54:04 oceanbuilders heroku/web.1 State changed from starting to up
Oct 12 08:54:10 oceanbuilders app/web.1 {"error":{},"level":"error","message":"uncaughtException: Cannot read property 'status' of undefined\nTypeError: Ca

[2020-10-12 16:55] Ray-LZ opened #4 "QR code is not displayed in the apps"
Actual result:
The seapod information page is not displaying the QR code image

![IMG_2096](https://user-images.githubusercontent.com/46169036/95772034-b613d680-0c81-11eb-938f-d40b4ca30413.PNG)

[2020-10-14 13:17] Mikisson opened #5 "Firebase events first steps"
Hi Ata,

Low priority:

I would like to start preparing our Ocean Builders app to collect some user stats on Firebase using Firebase events. This will be used even after we migrate the server side of things from Firebase to DigitalOcean or AWS. I 100% prefer to track any stats we can on Firebase and not on our custom implementation, firebase already has implemented all kind of powerful tools to vi

[2020-10-14 13:19] Mikisson commented on #5
**Abdullah Asad** _February 5, 2020, 12:05 AM_
As far as I know this is not done yet.

[2020-10-14 13:21] Mikisson commented on #5
**Diego Ocampo** _February 5, 2020, 8:56 AM_
Abdullah Asad i am assigning this to you but please check with Ata for any help.

[2020-10-14 13:21] Mikisson commented on #5
**Abdullah Asad** _February 5, 2020, 10:01 PM_
Diego Ocampo  What is the Fix version for this task ?

[2020-10-14 13:31] Mikisson opened #6 "Sidebar, controls page and marine & weather page"
Figma file: https://www.figma.com/file/Q5PwlHwSs2HnH5L1zxrMB6/OB-0.3?node-id=0%3A1

Please create issues on OBF or OB projects as needed and link them to this epic.

[2020-10-14 13:32] Mikisson opened #7 "Fix ios build issue"

[2020-10-14 13:33] Mikisson commented on #7
**Ray Zaragoza** _November 30, 2019, 10:10 AM_
Abdullah Asad could you please elaborate what to test, ot what is the fix?

[2020-10-14 13:34] Mikisson commented on #7
**Abdullah Asad** _December 23, 2019, 9:26 AM_
After ios SDK update there are some issues related to the packages and configuration. They are fixed now as you can check the ios build already.

[2020-10-14 13:36] Mikisson opened #8 "Login"
You can find the endpoint at the postman collection.

[2020-10-14 13:37] Mikisson commented on #8
**Ray Zaragoza** _February 12, 2020, 11:00 AM_
test pass

[2020-10-14 13:49] Mikisson opened #9 "Registration with sea pod creation"
Requirements link:  https://scissorboy.atlassian.net/wiki/spaces/O/pages/143753227/Registration+with+sea+pod+creation

Update: request example has been added to the postman collection.

[2020-10-14 13:50] Mikisson commented on #9
**Ray Zaragoza** _February 6, 2020, 2:52 PM_
Test Pass
Post Registration with SeaPod Creation
https://oceanbuilders.herokuapp.com/v1/api/auth

![image-20200206-204951](https://user-images.githubusercontent.com/72101387/95998275-ff585780-0e34-11eb-8155-54d0ca2587da.png)

[2020-10-14 13:53] Mikisson opened #10 "Invalidate JWT"
Requirements link: https://scissorboy.atlassian.net/wiki/spaces/O/pages/143720562/Invalidate+JWT

[2020-10-14 13:53] Mikisson commented on #10
**Ray Zaragoza** _July 13, 2020, 11:20 AM_
hi Ata Mahmoud please give me details to test.
The autologin should work for what time?

[2020-10-14 13:54] Mikisson commented on #10
**Ata Mahmoud** _July 13, 2020, 11:59 AM_

Hello Ray Zaragoza
I think you need to do the following:

1. log in with a user using postman and save the token.
2. logout the user using postman and the token you got at login.
3. try to call any endpoint with this token. it shouldn't work and you should get an error message

[2020-10-14 13:59] Mikisson opened #11 "Auto login"
Requirements link:  https://scissorboy.atlassian.net/wiki/spaces/O/pages/143687835/Auto+Login

you can find the endpoint at the postman collection

[2020-10-14 14:00] Mikisson commented on #11
**Ray Zaragoza** _February 6, 2020, 2:02 PM_
Test pass
Get Auto login
https://oceanbuilders.herokuapp.com/v1/api/auth/me

![image-20200206-204714](https://user-images.githubusercontent.com/72101387/95999660-662a4080-0e36-11eb-8e64-834f0f58e8c7.png)

![image-20200206-204625](https://user-images.githubusercontent.com/72101387/95999698-6f1b1200-0e36-11eb-86d8-aca3cd1663b8.png)

[2020-10-14 14:02] Mikisson opened #12 "Changes Notifier"
Requirements link: https://scissorboy.atlassian.net/wiki/spaces/O/pages/143720595/Changes+Notifier

[2020-10-14 14:05] Mikisson opened #13 "Access disable"
Requirements link: https://scissorboy.atlassian.net/wiki/spaces/O/pages/143687861/Access+Disable

[2020-10-14 14:06] Mikisson commented on #13
**Ray Zaragoza** _July 13, 2020, 11:24 AM_
Not implemented (currently we have the remove user button)
Diego Ocampo disable user do we need an additional button same as we have one for removing users in the access management page?

[2020-10-14 14:07] Mikisson commented on #13
**Ray Zaragoza** _July 13, 2020, 5:25 PM_
Abdullah Asad please link it with an OBF card when this is implemented

[2020-10-14 14:07] Mikisson commented on #13
**Diego Ocampo** _July 14, 2020, 3:17 PM_
Ray Zaragoza I did some temporary quick buttons for 0.8 https://www.figma.com/file/QvXwkDejI8eVzt6d335KvY/OB-0.8?node-id=291%3A2 this is enough for now, just to know the functionality is there.

[2020-10-14 14:12] Mikisson opened #14 "Add Members (Already Registered Members)"
Requirements link: https://scissorboy.atlassian.net/wiki/spaces/O/pages/143687875/Add+Members

[2020-10-14 14:12] Mikisson commented on #14
**Ray Zaragoza** _July 13, 2020, 11:28 AM_
test the grant access request

[2020-10-14 14:14] Mikisson opened #15 "Remove Members"
Requirements link: https://scissorboy.atlassian.net/wiki/spaces/O/pages/143720625/Remove+Members

[2020-10-14 14:15] Mikisson commented on #15
**Ray Zaragoza** _July 13, 2020, 11:30 AM_
remove user access management page ready to test

[2020-10-14 14:19] Mikisson commented on #15
**Ray Zaragoza** _July 13, 2020, 11:30 AM_
remove user access management page ready to test

[2020-10-14 14:20] Mikisson commented on #15
**Ray Zaragoza** _August 7, 2020, 3:25 PM_
I’m having this error in both Android & iOS

![image-20200807-202531](https://user-images.githubusercontent.com/72101387/96002230-2c0e6e00-0e39-11eb-9ecc-b870ce2590a4.png)

[2020-10-14 14:23] Mikisson opened #16 "Build new ocean builder"
Requirements link: https://scissorboy.atlassian.net/wiki/spaces/O/pages/143687907/Build+new+ocean+builder

you can find the endpoint at the postman collection

[2020-10-14 14:25] Mikisson commented on #16
**Ray Zaragoza** _February 6, 2020, 3:06 PM_
Test Pass
Post Create New Seapod
https://oceanbuilders.herokuapp.com/v1/api/seapods

![image-20200206-210556](https://user-images.githubusercontent.com/72101387/96002872-e900ca80-0e39-11eb-8577-df7fc52b9a61.png)

[2020-10-14 14:36] Mikisson opened #17 "Get Sea pod information by Id"
Requirements link: https://scissorboy.atlassian.net/wiki/spaces/O/pages/143655194/Get+Sea+pod+information

you can find the endpoint at the postman collection

[2020-10-14 14:37] Mikisson commented on #17
**Ray Zaragoza** _February 12, 2020, 11:33 AM_
test pass

[2020-10-14 14:43] Mikisson opened #18 "Get Weather status"
Requirements link: https://scissorboy.atlassian.net/wiki/spaces/O/pages/144769025/Get+weather+status

[2020-10-14 14:44] Mikisson opened #19 "Create Lighting scenes"
requirements link: https://scissorboy.atlassian.net/wiki/spaces/O/pages/144769035/Create+Lighting+scenes

you can find the endpoint at the postman collection

[2020-10-14 14:48] Mikisson opened #20 "Update Lighting scenes"
Requirements link: https://scissorboy.atlassian.net/wiki/spaces/O/pages/144769062/Update+Lighting+scenes

[2020-10-14 14:49] Mikisson opened #21 "[admin panel] Administrators register"
You can find the endpoint at the postman collection.

[2020-10-14 14:49] Mikisson commented on #21
**Ray Zaragoza** _February 12, 2020, 11:34 AM_
test pass

[2020-10-14 14:50] Mikisson opened #22 "[admin panel] Seapods Listing"
You can find the endpoint at the postman collection.

[2020-10-14 14:51] Mikisson commented on #22
**Ray Zaragoza** _February 12, 2020, 11:52 AM_
test pass

[2020-10-14 14:52] Mikisson opened #23 "Skip login"
**Confluence pages:** https://scissorboy.atlassian.net/wiki/spaces/O/pages/144769103/Skip+login

[2020-10-14 14:56] Mikisson opened #24 "Modify firebase DB"
Modify firebase db for access management and lighting related data.

[2020-10-14 14:56] Mikisson commented on #24
**Ray Zaragoza** _January 14, 2020, 5:41 PM_
Implemented

[2020-10-14 14:58] Mikisson opened #25 "Digrams Digital Drawing"
Estimated time: two hours.

[web-architecture.pdf](https://github.com/oceanbuilders/ob-web-server/files/5379070/web-architecture.pdf)
[system-architecture.pdf](https://github.com/oceanbuilders/ob-web-server/files/5379071/system-architecture.pdf)

[2020-10-14 14:59] Mikisson commented on #25
**Diego Ocampo** _December 20, 2019, 1:11 PM_
Ata Mahmoud I asked you about the possibility of showing all the components that will be part of LOCAL SERVER (instead of just showing LOCAL SERVER box). That would help to get an idea of what modules are only available in the cloud server. Can we still have that?

[2020-10-14 15:00] Mikisson commented on #25
**Ata Mahmoud** _December 20, 2019, 1:12 PM_
Diego Ocampo yes, I remember it. I will build it next week.

[2020-10-14 18:12] Mikisson opened #26 "[admin panel] Admin Login"
You can find the endpoint at the postman collection.

[2020-10-14 18:13] Mikisson commented on #26
**Ray Zaragoza** _February 12, 2020, 11:35 AM_
test pass

[2020-10-14 18:14] Mikisson opened #27 "Remove emergency contact"

[2020-10-14 18:15] Mikisson commented on #27
**Ray Zaragoza** _May 28, 2020, 12:41 PM_
Abdullah Asad are we going to have a delete option in the app?

[2020-10-14 18:16] Mikisson opened #28 "Fake Location Generator"
At Creating new seapod the app generate a random fake location to the seapod at panama on the ocean.

![Capture](https://user-images.githubusercontent.com/72101387/96028882-31c87b80-0e5a-11eb-86d4-d12868ee8c3b.PNG)

[2020-10-14 18:17] Mikisson commented on #28
**Ray Zaragoza** _February 12, 2020, 11:35 AM_
test pass

[2020-10-14 18:21] Mikisson opened #29 "Fake Data Generator"

[2020-10-14 18:22] Mikisson commented on #29
**Ray Zaragoza** _March 31, 2020, 5:07 PM_
where is this fake data displayed? how can I test Ata Mahmoud

[2020-10-14 18:22] Mikisson commented on #29
**Ray Zaragoza** _July 13, 2020, 11:39 AM_
Need to be implemented in the app side, currently we display fake data from the app

[2020-10-14 18:22] Mikisson commented on #29
**Ray Zaragoza** _July 13, 2020, 5:29 PM_
Hi Abdullah Asad please link this with an OBF card when the app pulls the data from the server

[2020-10-14 18:24] Mikisson opened #30 "Urgent notification sender"

[2020-10-14 18:25] Mikisson commented on #30
**Ray Zaragoza** _July 13, 2020, 11:21 AM_
needs to be implemented in the app side

[2020-10-14 18:25] Mikisson commented on #30
**Ray Zaragoza** _July 13, 2020, 5:24 PM_
Abdullah Asad please link it with an OBF card when this is implemented

[2020-10-14 18:26] Mikisson opened #31 "TOTP Verficiation"
You can find the endpoint at the postman collection.

[2020-10-14 18:27] Mikisson commented on #31
**Ray Zaragoza** _February 12, 2020, 11:38 AM_
test pass

[2020-10-14 18:28] Mikisson opened #32 "[admin panel] Users Listing"
what i did?

- I developed an endpoint to get all users at the database.
- to access all users you should be an admin so i developed a middle ware to prevent none admins from accessing users data.
- the endpoint filters the user passwords and json web token, so it didn’t return these data at the response.

[2020-10-14 18:29] Mikisson commented on #32
**Ray Zaragoza** _February 12, 2020, 2:00 PM_
test pass

[2020-10-14 18:30] Mikisson opened #33 "Update Seapod Name"
You can find the endpoint at postman collection.

[2020-10-14 18:31] Mikisson commented on #33
**Ray Zaragoza** _February 12, 2020, 11:36 AM_
test pass

[2020-10-14 18:33] Mikisson opened #34 "[admin panel] Admin Auto Login API"
- I created an endpoint that enable admin to auto login using the json web token.
- the endpoint validate the token and check if the user is admin or not
- if the user is admin the app will look for the admin data.
- finally the app will return the admin data or the error message with a status code

[2020-10-14 18:33] Mikisson commented on #34
**Ray Zaragoza** _February 12, 2020, 11:40 AM_
test pass

[2020-10-14 18:34] Mikisson opened #35 "[admin panel] Get User Seapods api"
An endpoint to get the user seapods using the JSON web token of the user.

- the app validate the token and return the seapods of this users.
- also the app filters the seapods from any data that is n’t allowed to be seen by the user

[2020-10-14 18:35] Mikisson commented on #35
**Ray Zaragoza** _February 12, 2020, 11:36 AM_
test pass

[2020-10-14 18:36] Mikisson opened #36 "Update Access Request At Resend"

[2020-10-14 18:38] Mikisson commented on #36
**Ray Zaragoza** _March 31, 2020, 5:04 PM_
Ata Mahmoud what should I test here?

[2020-10-14 18:38] Mikisson commented on #36
**Ray Zaragoza** _June 29, 2020, 11:55 AM_
pending new build with access request fixed

[2020-10-14 18:39] Mikisson commented on #36
**Ray Zaragoza** _July 13, 2020, 11:17 AM_
ready to test

[2020-10-14 19:12] Mikisson opened #37 "Enable Users to fetch images using image URL"

[2020-10-14 19:13] Mikisson commented on #37
**Ray Zaragoza** _February 12, 2020, 5:38 PM_
test pass

[2020-10-14 19:14] Mikisson opened #38 "Add Support for CROS"

[2020-10-14 19:15] Mikisson commented on #38
**Ray Zaragoza** _March 27, 2020, 4:38 PM_
please elaborate Ata Mahmoud how can I test this?

[2020-10-14 19:16] Mikisson commented on #38
**Ata Mahmoud** _March 27, 2020, 4:40 PM_
You can test it with the admin panel only. So we should leave it for now

[2020-10-14 19:16] Mikisson commented on #38
**Ray Zaragoza** _July 13, 2020, 11:44 AM_
Admin panel, not ready to be tested

[2020-10-14 19:17] Mikisson opened #39 "Documentation Maintenance"

[2020-10-14 19:18] Mikisson opened #40 "Unite and Integration Tests"

[2020-10-14 19:20] Mikisson commented on #40
**Ola Galal** _June 1, 2020, 1:21 AM_

updates: I start writing integration tests:

- services/accessRequest [60% done]

(it contains many branches to different files, so the coverage raised from 22 branch to 83 branch )

**_coverage report_**

![sc01](https://user-images.githubusercontent.com/72101387/96035256-101fc200-0e63-11eb-8b4d-821ae12236b7.png)

[2020-10-14 19:22] Mikisson commented on #40
**Ola Galal** _June 2, 2020, 12:59 AM_

updates:

- services/accessRequest [88.35% done]
- routes/accessRequest.js [100% done]

(it contains many branches to different files, so the coverage raised from 83 branch to 137 branch )

**_coverage report_**

![sc02](https://user-images.githubusercontent.com/72101387/96035415-4c532280-0e63-11eb-97d7-389059e5d797.png)

[2020-10-14 19:23] Mikisson commented on #40
**Ola Galal** _June 17, 2020, 8:07 PM_

(it contains many branches to diffrent files, so the coverage rised from 137 branch to 228 branch )

**_coverage report_**

![sc03](https://user-images.githubusercontent.com/72101387/96035571-77d60d00-0e63-11eb-845c-999ccf38a807.png)

[2020-10-14 19:24] Mikisson commented on #40
**Ola Galal** _June 24, 2020, 5:49 PM_

(the coverage rised from 228 branch to 264 branch )
62.52% Statements 1156/1849

**_coverage report_**

![sc04](https://user-images.githubusercontent.com/72101387/96035647-9cca8000-0e63-11eb-82ff-9b9358ba83a4.png)

[2020-10-14 19:25] Mikisson commented on #40
**Ola Galal** _June 27, 2020, 6:11 PM_

(it contains many branches to different files, so the coverage raised from 264 branch to 395 branch )

**_coverage report_**

![sc05](https://user-images.githubusercontent.com/72101387/96035760-c683a700-0e63-11eb-9874-2d7a871ec224.png)

[2020-10-15 10:31] Mikisson opened #41 "Available screens (request access cancel)"
Please check the available screens when a new user sends an access request and then cancel itSteps to Reproduce:

- Create a new user via access request
- Cancel the request
- Log out
- Log back inVideo: https://drive.google.com/file/d/17WfnIzoPwa2SHPXYdnDWfmkX_IvmIf-f/view?usp=sharing

[2020-10-15 10:33] Mikisson opened #42 "Switch Between Light Scenes"
Enables the user to choose from seapod’s light scenes and his own light scenes.

[2020-10-15 10:35] Mikisson opened #43 "2 popups displayed simultaneously"
Actual Result:When the user edits simultaneously "emergency contact" and "user profile details” and saves the changes, there are 2 popups displayed at the same time 1 for emergency contact the other one for user profile (with different text on them)

[2020-10-15 10:36] Mikisson commented on #43
**Abdullah Asad** _March 31, 2020, 10:17 AM_
Ray Zaragoza, Should I show the confirmation in a single Popup ?

[2020-10-15 10:36] Mikisson commented on #43
**Ray Zaragoza** _April 13, 2020, 11:12 AM_
yes, 1 popup is definitely better. Abdullah Asad
Diego Ocampo can we merge the popups into 1?
expected result:
it doesn’t matter if the user edited the emergency contact or the user’s details or if it was edited both at the same time we will always display the same popup “Your Profile page has been updated”

[2020-10-15 10:39] Mikisson commented on #43
**Abdullah Asad** _April 13, 2020, 9:30 PM_
Yes it is done. User will get this message when edited both of them. Otherwise will get separate message for each of them

[2020-10-15 10:39] Mikisson commented on #43
**Ray Zaragoza** _May 14, 2020, 6:41 PM_
test passed

[2020-10-15 10:43] Mikisson opened #44 "Redirect after popup is displayed (light scene name duplicated)"
Expected Result: When a user tries to create a new lighting scene with a duplicated name, we should alert the user this is not a valid name and the app should redirect to this page.

![image-20200331-234020](https://user-images.githubusercontent.com/72101387/96113117-f70b2580-0ee3-11eb-8a11-15a237da3294.png)

[2020-10-15 10:44] Mikisson commented on #44
**Ray Zaragoza** _May 14, 2020, 5:57 PM_
Test failed

[2020-10-15 10:51] Mikisson opened #45 "Prevent users from adding duplicate light scene names (editing a lighting scene)"
Actual Result: The user is able to edit a lighting scene (previously created) and provide a duplicated name.

![719de4fd-e80a-4cae-81db-400dbcf2383b](https://user-images.githubusercontent.com/72101387/96113879-18204600-0ee5-11eb-922c-85b8216ed188.png)

[2020-10-15 10:52] Mikisson commented on #45
**Ray Zaragoza** _April 3, 2020, 5:17 PM_
test passed
Diego Ocampo the app recognized capital letter as a different letter, should we also prevent this? for example:
Name:Night scene
Name:night scene
Are recognized as different names, the popup is not triggered on this scenario.

[2020-10-15 10:53] Mikisson commented on #45
**Diego Ocampo** _April 7, 2020, 6:43 AM_
Ray Zaragoza Ola Galal we should also prevent this ideally.

[2020-10-15 10:53] Mikisson commented on #45
**Ray Zaragoza** _April 9, 2020, 5:02 PM_
Lighting page is temporarily disabled, will test when possible

[2020-10-15 10:53] Mikisson commented on #45
Ray Zaragoza _May 14, 2020, 6:02 PM_
test passed

[2020-10-15 10:54] Mikisson opened #46 "Add update all light scenes"

[2020-10-15 10:55] Mikisson commented on #46
**Abdullah Asad** _April 6, 2020, 6:55 AM_
Ola Galal
Not working
Getting this error when trying to update all scenes to change the orders in lighting scene list screen
”Duplicated Scene Name!”
Please check.

[2020-10-15 10:55] Mikisson commented on #46
**Ola Galal** _April 6, 2020, 12:40 PM_
Abdullah Asad This function isn’t for order the light scenes, it is for updating many light scenes at a time.

[2020-10-15 10:56] Mikisson commented on #46
**Abdullah Asad** _April 7, 2020, 5:02 AM_
Ola Galal Does this means that if there is no change in any lighting scene  it will give “Duplicate Scene Name“ error ?
Anyway please provide API to change the order.

[2020-10-15 10:56] Mikisson commented on #46
**Ola Galal** _April 7, 2020, 5:48 AM_
Abdullah Asad
Yes, that’s true.
Okay, I will see with Ata and work on it.

[2020-10-15 11:01] Mikisson opened #47 "Edit the text on error message"
This error is displayed on login page:

![8dbad97f-09b1-4c0a-ab40-3ae750ba4e2f](https://user-images.githubusercontent.com/72101387/96114915-80bbf280-0ee6-11eb-9767-9995dcb93e26.png)

Expected Result: ”Your email and password combination was incorrect. Please try again”

[2020-10-15 11:08] Mikisson opened #48 "Toggle Notifications Seen Status"

[2020-10-15 11:10] Mikisson commented on #48
**has to be done before:**
- Change Notification seen/unseen state - **DONE**

**relates to**
- Solve “Notification not found” bug in Toggle Notification Seen Status **DONE**

[2020-10-15 11:11] Mikisson commented on #48
**Ray Zaragoza** _July 13, 2020, 12:04 PM_
ready to be tested from the left side menu (notification list)

[2020-10-15 11:23] Mikisson opened #49 "Left Menu"
![image-20200605-220708](https://user-images.githubusercontent.com/72101387/96116958-98e14100-0ee9-11eb-9d53-51b98633ba94.png)
![image-20200605-220942](https://user-images.githubusercontent.com/72101387/96116965-9bdc3180-0ee9-11eb-9fd5-02ba6bdc1d59.png)
![image-20200605-221032](https://user-images.githubusercontent.com/72101387/96116971-9da5f500-0ee9-11eb-89a8-51180217cac5.png)

[2020-10-15 16:24] #37 closed

[2020-10-15 17:15] KanikaDevops commented on #37
Storypointed

[2020-10-15 17:15] KanikaDevops commented on #35
Storypointed

[2020-10-15 17:15] KanikaDevops commented on #34
Storypointed

[2020-10-15 17:15] KanikaDevops commented on #33
Storypointed

[2020-10-15 17:16] KanikaDevops commented on #32
Storypointed

[2020-10-15 17:16] KanikaDevops commented on #31
Storypointed

[2020-10-15 17:16] KanikaDevops commented on #28
Storypointed

[2020-10-15 17:16] KanikaDevops commented on #26
Storypointed

[2020-10-15 17:19] KanikaDevops commented on #26
Storypointed

[2020-10-15 17:20] KanikaDevops commented on #19
Storypointed

[2020-10-15 17:20] KanikaDevops commented on #22
Storypointed

[2020-10-15 17:20] KanikaDevops commented on #21
Storypointed

[2020-10-15 17:20] KanikaDevops commented on #20
Storypointed

[2020-10-15 17:21] KanikaDevops commented on #17
Storypointed

[2020-10-15 17:21] KanikaDevops commented on #16
Storypointed

[2020-10-15 17:22] KanikaDevops commented on #16
Storypointed

[2020-10-15 17:22] KanikaDevops commented on #11
Storypointed

[2020-10-15 17:22] KanikaDevops commented on #9
Storypointed

[2020-10-15 17:23] KanikaDevops commented on #8
Storypointed

[2020-10-15 17:25] KanikaDevops commented on #8
Storypointed

[2020-10-15 17:54] Mikisson opened #50 "Change the structure of permission model"

[2020-10-15 17:56] Mikisson opened #51 "Add updateAllScenes for each source separated"

[2020-10-15 17:57] Mikisson opened #52 "Create New SeaPod Should return same response as login response"

[2020-10-15 17:59] Mikisson opened #53 "Push Notification is not working"
Not working on foreground or background or on launch.

When user send access request, invitation and their responses the corresponding user get FCM push notification.Previously this was sent from client to client; i.e from app to app through firebase.

Now the nodejs server is supposed to send this notifications. Ata already did some implementation but the app could not retrieve any data from thos

[2020-10-15 18:01] Mikisson opened #54 "Add permission property to Access Request model"
Add the ability to send permission set id with “ new access invitation”, and with “accept access request api”

[2020-10-15 18:03] Mikisson opened #55 "Skip login (Demo)"

[2020-10-15 18:04] Mikisson opened #56 "Caching in the server all the weather / marine data we request"
We would like to build a cache of weather data on the server to reduce the number of times we need to request new data to our weather providers. Ideally it is a "modular" solution in the sense that most of the logic is separated from the provider integration: we will have several weather providers eventually, but the way the data is queried and stored should be as universal as possible.

Please co

[2020-10-15 18:09] Mikisson opened #57 "Template system for SeaPods. Initial templates"
We will need to also set a default set of rooms existing on the SeaPods and a default set of lights in each room. In the future there will be different SeaPods models, with different default room configurations (each room with different lights) and the users would probably be able to add / remove lights so I think the server should once again user a template system for this:

- A template for each

[2020-10-16 12:24] Mikisson opened #58 "Integrate get access request/invitation by user"
This will feed data to the 4 categories in the access Management screen.

**_Linked issues_**

**relates to**
Issue type: Story OB-184
Get Access Request/Invitation sent and received for specific user

[2020-10-16 12:26] Mikisson opened #59 "Get Access Request/Invitation sent and received for specific user"
**_Linked issues_**

**relates to**
Issue type: Task
OB-183
Integrate get access request/invitation by user

[2020-10-16 12:27] Mikisson commented on #59
**Ola Galal** _July 17, 2020, 8:25 AM_
Abdullah Asad  ​let me know if it works.

[2020-10-16 12:28] Mikisson commented on #59
**Abdullah Asad** _July 18, 2020, 11:50 AM_
Ola Galal  ​It’s working.

[2020-10-16 12:29] Mikisson opened #60 "Create Log webpage"

[2020-10-16 12:31] Mikisson opened #61 "Update Notification Settings"
Notifications to implement on the server for version 0.7

- Email for account verificationEmail/push to get access request
- Email/push to get access invitation
- Email/push to get urgent notification
- Email/Push on access request response
- Email/Push on access invitation response

[2020-10-16 12:34] Mikisson opened #62 "Research: Open sourcing server authentication implementation. Consequences. What do other open source organizations do?"
Example: https://github.com/signalapp I would like to do research here, understand if they are fully disclosing not just the protocol they use but also absolutely all their server and app code in a way that any other team could copy it and deploy it and have it working.

I think a great example is cryptocurrencies in general. Popular cryptocurrencies like Ethereum https://github.com/ethereum or Io

[2020-10-16 12:36] Mikisson opened #63 "Open sourcing Server code in github"
**Issues in this epic:**

Issue type: Task
OB-192
Keep Express within its boundaries (Web Layer only)

Issue type: Task
OB-193
Create readme.md file

Issue type: Task
OB-194
centralized error object that derives from Node’s Error

Issue type: Task
OB-195
Document API using Swagger

Issue type: Task
OB-196
Exit the process gracefully when a stranger comes to town

Issue type: Task
OB-197
Add ESlint

[2020-10-16 12:37] Mikisson opened #64 "Keep Express within its boundaries (Web Layer only)"

[2020-10-16 12:40] Mikisson opened #65 "Create readme.md file"

[2020-10-16 12:41] Mikisson opened #66 "centralized error object that derives from Node’s Error"

[2020-10-16 12:42] Mikisson opened #67 "Document API using Swagger"

[2020-10-16 12:42] Mikisson commented on #67
**Ola Galal** _August 5, 2020, 1:22 AM_
https://oceanbuilders.herokuapp.com/v1/docs

[2020-10-16 12:45] Mikisson opened #68 "Exit the process gracefully when a stranger comes to town"

[2020-10-16 12:45] Mikisson opened #69 "Add ESlint Plugins for Nodejs"

[2020-10-16 12:46] Mikisson opened #70 "Move the salt rounds to an Environment variable"

[2020-10-16 12:48] Mikisson opened #71 "Use Code static analysis tools"
We used sonarqube tools to analyze the code and the founded issues from it will be Linked to this card.

**Issues in this epic:**

Issue type: Task
OB-202
TypeError can be thrown as "currentUser" might be null or undefined at services/lightiningScene.js

Issue type: Task
OB-203
'SeaPod' is already declared in the upper scope at models/seapod/seapod.js

Issue type: Task
OB-204
'reqBody' is already

[2020-10-16 12:49] Mikisson opened #72 "Move firebase configs to env variables"

[2020-10-16 12:50] Mikisson opened #73 "publish the code to github and change heroku CI to github"

[2020-10-16 14:05] Mikisson opened #74 "TypeError can be thrown as "currentUser" might be null or undefined at services/lightiningScene.js"
at services/lightiningScene.js line number 335
also at line number 375 and 443

![d2d0eb45-aa97-4048-a626-27f97099ae8f](https://user-images.githubusercontent.com/72101387/96268437-5c851200-0fc9-11eb-994c-05af4b211627.png)

[2020-10-16 14:07] Mikisson opened #75 "'SeaPod' is already declared in the upper scope at models/seapod/seapod.js"
at models/seapod/seapod.js line number 211

![084e1ccf-c39a-4752-ac80-32bb121d99e0](https://user-images.githubusercontent.com/72101387/96268654-97874580-0fc9-11eb-999d-9366fa5bcd04.png)

[2020-10-16 14:08] Mikisson opened #76 "'reqBody' is already declared in the upper scope at services/accessManagement.js"
at services/accessManagement.js line number 87

![codesmell2](https://user-images.githubusercontent.com/72101387/96268847-d6b59680-0fc9-11eb-9460-3890447f4a2b.PNG)

[2020-10-16 14:11] Mikisson opened #77 "'user' is already declared in the upper scope at services/auth.js"
at services/auth.js line number 253

![codesmell3](https://user-images.githubusercontent.com/72101387/96269048-1e3c2280-0fca-11eb-83e6-c5bb4e5bf3c4.PNG)

[2020-10-16 14:13] Mikisson opened #78 "'user' is already declared in the upper scope at services/lightiningScene.js"
at services/lightiningScene.js

![codesmells3](https://user-images.githubusercontent.com/72101387/96269378-9571b680-0fca-11eb-95be-c8acf3d1f73b.png)

[2020-10-16 14:16] Mikisson opened #79 "'permission' is already declared in the upper scope at services/permission.js"
at services/permission.js lines numbers 376,440,498 and 518

![140fda90-1015-4ed3-be39-97807312a6b7](https://user-images.githubusercontent.com/72101387/96269618-e08bc980-0fca-11eb-8e0c-4e0d7b427e83.png)

[2020-10-16 14:17] Mikisson opened #80 "'body' is already declared in the upper scope at tests/integration/accessRequest.test.js"
at tests/integration/accessRequest.test.js lines numbers 109 and 1308

![cs5](https://user-images.githubusercontent.com/72101387/96269771-1630b280-0fcb-11eb-8691-e8efa4cff978.PNG)

[2020-10-16 14:27] Mikisson opened #81 "'seapodId' is already declared in the upper scope at tests/integration/accessRequest.test.js"
at tests/integration/accessRequest.test.js line number 675

![927ee3d1-8603-4509-bc8e-6e976528a83a](https://user-images.githubusercontent.com/72101387/96270853-72480680-0fcc-11eb-8a74-bb470b49b26b.png)

[2020-10-16 14:29] Mikisson opened #82 "'body' is already declared in the upper scope at tests/integration/admins.test.js"
at tests/integration/admins.test.js line number 25

![d5a69c80-16c0-4ad3-9729-9c9ac078b58c](https://user-images.githubusercontent.com/72101387/96271024-ad4a3a00-0fcc-11eb-81bd-57bf8eebcbf1.png)

[2020-10-16 14:33] Mikisson opened #83 "'body' is already declared in the upper scope at tests/integration/auth.test.js"
at tests/integration/auth.test.js lines number 30 and 155

![f0efe211-cec7-4097-91f3-5233fb91c069](https://user-images.githubusercontent.com/72101387/96271509-4416f680-0fcd-11eb-9324-c01d9b02b233.png)

[2020-10-16 14:34] Mikisson opened #84 "'body' is already declared in the upper scope at tests/integration/permissions.test.js"
at tests/integration/permissions.test.js lines numbers 31,233,473,880 and 1076

![b9eb13c7-5053-4408-9ff6-940a2bb93455](https://user-images.githubusercontent.com/72101387/96271652-6dd01d80-0fcd-11eb-8b3a-94473f73f102.png)

[2020-10-16 14:59] Mikisson opened #85 "'body' is already declared in the upper scope at tests/integration/seapods.test.js"
at tests/integration/seapods.test.js lines numbers 32 and 170

![cs5 (1)](https://user-images.githubusercontent.com/72101387/96274596-f8664c00-0fd0-11eb-85d2-f36a7da2c246.PNG)

[2020-10-16 15:01] Mikisson opened #86 "'body' and 'notificationId' are already declared in the upper scope at tests/integration/users.test.js"
at tests/integration/users.test.js lines numbers 30,150,415,764 and 862

for notificationId line number is 536

![adfbd73a-8bbe-45bf-a8f9-00019d824a3d](https://user-images.githubusercontent.com/72101387/96274771-35324300-0fd1-11eb-87ea-0cbbf1c4a04c.png)

![d8365389-c75d-485a-901c-047718982d53](https://user-images.githubusercontent.com/72101387/96274811-41b69b80-0fd1-11eb-9f41-e8bf102d1a0d.png)

[2020-10-16 15:07] Mikisson opened #87 "'hardwareId','user','token','jti' and 'next' are already declared in the upper scope at tests/integration/users.test.js"
at tests/integration/users.test.js :-
hardwareId line number 29
user lines numbers 29 and 96
token line number 29
jti lines numbers 74  and 95
next line number 111

![f3ea2c11-dcb9-4e1c-b3b5-3a41d989a36a](https://user-images.githubusercontent.com/72101387/96275288-d7eac180-0fd1-11eb-9e1f-79ef53d94f34.png)

![ffca8c01-8250-4070-8f9d-16128456b444](https://user-images.githubusercontent.com/72101387/9

[2020-10-16 15:08] Mikisson opened #88 "Use env variables and parameters in postman"

[2020-10-16 15:12] Mikisson opened #89 "Raspberry Pi Server - Initial IoT integration"

[2020-10-16 15:13] Mikisson commented on #89
**Ola Galal** _September 4, 2020, 8:31 AM_

5. Solve problem of access request from outside the network
and put some requests in Postman
Next:

- ask about database structure
- work on MQTT server

[2020-10-16 15:13] Mikisson commented on #89
**Ola Galal** _September 4, 2020, 4:35 PM_

6. Make the Server run in background all the time

[2020-10-16 15:13] Mikisson commented on #89
**Ola Galal** _September 6, 2020, 11:18 AM_

7. Add auth token and Add SSL certificate to nodejs server

[2020-10-16 15:14] Mikisson commented on #89
**Ola Galal** _September 17, 2020, 11:49 AM_

8. Push repo to github, add readme.md and license.md

[2020-10-16 15:14] Mikisson commented on #89
**Ola Galal** _September 18, 2020, 8:56 AM_

9. I can now publish to ‘byron/gauge’ topic using nodejs and also subscribe to the same topic and receive messages.

[2020-10-16 15:15] Mikisson opened #90 "Save the Selected Weather Source"
The weather Screen and Marine Screen get data from Storm Glass Weather provider which is an external provider. Alternatively there is another source to get the data. That is weather flow station. This is treated as local provider as there is supposed to be a station placed on the seapod. From the application user can set priority of the sources to use. So an api is required to save the priority or

[2020-10-16 15:18] Mikisson opened #91 "Tests on GitHub won't pass"

[2020-10-16 15:19] Mikisson opened #92 "Create a table to display notification data"
This is how we currently do for Wella project

https://welladigital.com/accounts/1/users/63787/notifications

![03639c9c-a825-452e-86f5-b1e28831f933](https://user-images.githubusercontent.com/72101387/96276803-c1de0080-0fd3-11eb-83d8-874ae02393e2.png)

[2020-10-16 15:20] Mikisson opened #93 "Work with different versions"
v1, v2 and so on ..

[2020-10-16 15:22] Mikisson opened #94 "Add Default LightScene while creating new user"

[2020-10-16 15:23] Mikisson commented on #94
**Ola Galal** _September 19, 2020, 2:29 PM_
Diego Ocampo  I just added a random values, of you need to add specific values for the default lightScenes please inform me.

[2020-10-16 15:23] Mikisson commented on #94
**Diego Ocampo** _September 21, 2020, 8:33 AM_
Hi, for now it is ok to have random values for now. Once we implement **OB-182: Template system for SeaPods. Initial templates**  we might start working with several models of SeaPods and when a user creates an account, depending on what SeaPod model is created, we will take all the values for the default light scenes (Day Mode, Night Mode) from the t

[2020-10-16 15:24] Mikisson opened #95 "Prevent changing color/intensity when canChangeColor/Intensity is false"
**relates to**
Issue type: Task
OB-182
Template system for SeaPods. Initial templates

[2020-10-16 15:26] Mikisson opened #96 "Ola's Meetings Card [Oct, Nov]"

[2020-10-16 15:27] Mikisson commented on #96
**Ola Galal** _October 3, 2020, 1:06 AM_

- 28/9 -> development team weekly meeting
- 2/10 > general meeting

[2020-10-16 15:27] Mikisson opened #97 "Twilio Flex integration"

[2020-10-16 15:28] Mikisson opened #98 "The server crashes"
When I face issues with the app the server crashes.

- It happened while testing the light scenes

[2020-10-16 21:52] olagalal commented on #96
13 Oct: Hardware Team meeting

[2020-10-16 21:54] olagalal commented on #89
10. Deployed the server on Steve’s Server, it's working in background all time, installed SSL certificate, and connected to MySQL successfully.
I created a dumb test db and table, you can see the endpoints at Postman under (Raspberry Pi Folder)

[2020-10-16 21:54] olagalal commented on #89
11. Fetched the list of topics, created an endpoint for it.

[2020-10-16 22:09] olagalal commented on #4
@godslave05 this should be assigned to you?

[2020-10-17 16:28] ray-scissorboy opened #99 "Grant Access request issues"
When an owner grants access as a member (permanent access) we should not display "access for"
![image](https://user-images.githubusercontent.com/46169036/96347994-416ade80-106b-11eb-9c99-0d1dd55bc428.png)

When a user **receives** an access request as Member (permanent access) we should not display "request access for "
![image](https://user-images.githubusercontent.com/46169036/96348062-a1fa1b80-

[2020-10-19 12:32] diegopau commented on #89
@olagalal next steps I would like to see:

a. The app should be able to fetch, for a specific topic, a specific period of data. So please agree with @godslave05 what the API endpoint specification for that should look like. I expect the request to contain two timestamps and the topic, and the response an array of data points. This is assuming that Steve is populating data from the sensor in the da

[2020-10-19 19:13] #89 closed

[2020-10-21 16:02] diegopau commented on #88
From Ola:

@Ray we need to have a call to discuss this

[2020-10-21 16:02] #88 closed

[2020-10-21 16:02] #87 closed

[2020-10-21 16:03] #86 closed

[2020-10-21 16:03] #80 closed

[2020-10-21 16:03] #85 closed

[2020-10-21 16:04] #84 closed

[2020-10-21 16:04] #83 closed

[2020-10-21 16:04] #82 closed

[2020-10-21 16:04] #81 closed

[2020-10-21 16:04] #79 closed

[2020-10-21 16:05] #78 closed

[2020-10-21 16:05] #77 closed

[2020-10-21 16:05] #75 closed

[2020-10-21 16:05] #74 closed

[2020-10-21 16:06] #73 closed

[2020-10-21 16:06] #72 closed

[2020-10-21 16:06] #71 closed

[2020-10-21 16:06] #70 closed

[2020-10-21 16:06] #69 closed

[2020-10-21 16:07] #68 closed

[2020-10-21 16:07] #67 closed

[2020-10-21 16:07] #66 closed

[2020-10-21 16:07] #65 closed

[2020-10-21 16:07] #64 closed

[2020-10-21 16:08] #63 closed

[2020-10-21 16:08] diegopau commented on #62
From Ola:

@AtaMahmoud  Did you finish this card

[2020-10-21 16:09] #23 closed

[2020-10-21 16:09] diegopau commented on #23
From Ray:
Test passed

[2020-10-21 16:10] diegopau commented on #52
From Ray:

@godslave05 please confirm if from the app side the response has everything that you need? can we close this card?

[2020-10-21 16:11] diegopau commented on #51
From Ola:

@ray-scissorboy I can’t remember why I assigned this issue to Asad, I change it to you

I think Asad asked me to make endpoint to order the lightscenes but with adding the source of the lightScenes into the parameters of endpoint

[2020-10-21 16:11] diegopau commented on #47
From Ray:

"Test passed"

![IMG_2140](https://user-images.githubusercontent.com/315149/96747701-e3baf700-13c8-11eb-97ec-02e89ec5a044.png)

[2020-10-21 16:12] #47 closed

[2020-10-21 16:14] #45 closed

[2020-10-21 16:15] diegopau commented on #42
From Ray:
Test passed

[2020-10-21 16:15] #42 closed

[2020-10-21 16:15] diegopau commented on #40
Ola Galal
2 days ago

Ray Zaragoza Kanika Tiwari  this issue starting from 25 March to 28 June, it took a lot of time, becasue I wrote test cases for all the code. I tracked my progress by comments. I can’5 estimate the time.

[2020-10-21 16:15] diegopau commented on #40
Ray Zaragoza
2 days ago

Thanks Ola Galal

[2020-10-21 16:15] #40 closed

[2020-10-21 16:16] diegopau commented on #36
From Ray:
Test passed

[2020-10-21 16:16] #36 closed

[2020-10-21 16:18] diegopau commented on #44
From Ray:
Test passed

[2020-10-21 16:18] #44 closed

[2020-10-21 16:21] #55 closed

[2020-10-21 16:21] diegopau commented on #55
Ray Zaragoza
4 days ago

Hi Ola Galal here was implemented fully the skip login feature? what’s the difference with OB-180
Ola Galal
2 days ago

Ray Zaragoza they are the same, duplicated
Ray Zaragoza
2 days ago

Hi Kanika Tiwari I discarded this one (duplicated of OB-180)

[2020-10-21 16:22] diegopau commented on #15
From Ray:
Hi Ola Galal please check this, I’m able to reproduce it, there’s nothing wrong with my internet
![IMG_0006](https://user-images.githubusercontent.com/315149/96748794-511b5780-13ca-11eb-8112-66364b6eb72a.png)

[2020-10-21 16:22] diegopau commented on #15
From Ola:
I will check it

[2020-10-21 16:22] diegopau commented on #14
From Ray:
Test passed
![IMG_2136](https://user-images.githubusercontent.com/315149/96748872-6f815300-13ca-11eb-8dc8-db6007f4f535.png)

[2020-10-21 16:22] #14 closed

[2020-10-21 16:23] diegopau commented on #10
From Ray:
Test passed

[2020-10-21 16:23] #10 closed

[2020-10-26 17:57] ray-scissorboy commented on #98
I'm closing this (duplicated) https://github.com/oceanbuilders/ob-web-server/issues/3

[2020-10-27 21:08] #98 closed

[2020-10-27 21:38] Ray-LZ opened #100 "Incorrect the message displayed for deleting a lighting scene"
Actual Result: The lighting scene is deleted, however, it displays an error message
Expected Result: Success message is displayed
Video: https://drive.google.com/file/d/1XZzqGQ3BXu82Wz0MubZuR-RADMw8qT91/view?usp=sharing

[2020-10-27 23:25] ray-scissorboy commented on #94
Default day and night scenes have been added
App version 0.7.0(8)

[2020-10-27 23:26] #94 closed

[2020-10-27 23:33] ray-scissorboy commented on #90
Hi @olagalal @godslave05 In the weather Provider Priority page, the user is able to tap and drag the provider, however, the changes are not saved when I kill the app and reopen it please confirm if this is an app or server issue

[2020-10-27 23:38] ray-scissorboy commented on #59
This is working as expected for previously created users that already have access to a seapod, @diegopau should we be able to grant access to a user that is not on our database at all?

[2020-10-28 23:14] Ray-LZ commented on #48
Test passed app version 0.7.0(8)

[2020-10-28 23:14] #48 closed

[2020-10-29 23:36] Ray-LZ commented on #61
Hi @godslave05 this will be included in 0.8 right?

[2020-10-29 23:42] Ray-LZ commented on #57
Hi @olagalal is everything here done?

[2020-10-29 23:46] Ray-LZ commented on #52
Create New SePod
`{
    "profileImageUrl": "",
    "seaPods": [
        {
            "powerUtilities": [],
            "soundSystem": [],
            "masterBedroomFloorFinishing": [],
            "hasWeatherStation": false,
            "hasFathometer": false,
            "hasCleanWaterLevelIndicator": false,
            "permissionSets": [
                {
                    "isDefault": true,

[2020-10-29 23:47] Ray-LZ commented on #52
Login
`{
    "profileImageUrl": "",
    "seaPods": [
        {
            "powerUtilities": [],
            "soundSystem": [],
            "masterBedroomFloorFinishing": [],
            "hasWeatherStation": false,
            "hasFathometer": false,
            "hasCleanWaterLevelIndicator": false,
            "permissionSets": [
                {
                    "isDefault": true,

[2020-11-02 16:37] Ray-LZ commented on #8
this is implemented

[2020-11-02 16:39] #8 closed

[2020-11-02 16:39] Ray-LZ commented on #9
This is implemented

[2020-11-02 16:39] #9 closed

[2020-11-02 16:40] Ray-LZ commented on #11
This is implemented

[2020-11-02 16:40] #11 closed

[2020-11-02 16:41] Ray-LZ commented on #16
This is implemented

[2020-11-02 16:41] #16 closed

[2020-11-02 16:42] Ray-LZ commented on #17
This is implemented

[2020-11-02 16:42] #17 closed

[2020-11-02 16:42] Ray-LZ commented on #19
This is implemented

[2020-11-02 16:42] #19 closed

[2020-11-02 16:42] Ray-LZ commented on #20
This is implemented

[2020-11-02 16:42] #20 closed

[2020-11-02 16:42] Ray-LZ commented on #28
This is implemented

[2020-11-02 16:42] #28 closed

[2020-11-02 16:43] Ray-LZ commented on #33
This is implemented

[2020-11-02 16:43] #33 closed

[2020-11-02 16:44] Ray-LZ commented on #29
This is implemented

[2020-11-02 16:44] #29 closed

[2020-11-02 16:45] Ray-LZ commented on #30
This is implemented

[2020-11-02 16:45] #30 closed

[2020-11-02 16:54] diegopau commented on #62
@AtaMahmoud are we good with this? did you finish your research and are we now sure that open sourcing is not a problem for the security of authentication?

[2020-11-02 17:04] #58 closed

[2020-11-02 17:12] diegopau commented on #59
@olagalal even if the user that is invited doesn't have an account it has to be possible to give access to the invited user (status: pending)

[2020-11-03 15:11] olagalal commented on #26
@shimaaelhosary done, please test it from your side

[2020-11-03 15:11] olagalal commented on #34
@shimaaelhosary done, please test it from your side

[2020-11-03 15:12] olagalal commented on #21
@shimaaelhosary done, please test it from your side

[2020-11-03 16:57] olagalal commented on #46
@godslave05 I think this is already done?

[2020-11-03 17:06] olagalal commented on #3
@Ray-LZ I fixed this, please check if it still occur.

[2020-11-03 17:18] olagalal commented on #96
19 Oct: Meeting (1h 50 min)
2 Nov: Dev Team Meeting (50 min)
3 Nov: Hardware Team Meeting (20 min)

[2020-11-05 17:14] olagalal commented on #90
@Ray-LZ I checked server side, no problem
@godslave05 please check app side

[2020-11-05 17:19] olagalal commented on #4
@godslave05 please check this?

[2020-11-05 17:28] olagalal commented on #61
@Ray-LZ did you test this on postman?

[2020-11-05 18:06] olagalal commented on #100
@Ray-LZ I think you may clicked the button twice. So the second time the lightScene was not there.
Anyway I added a message when you delete the lightScene.

[2020-11-05 19:53] olagalal commented on #59
@diegopau I checked the api, it return the pending requests too.
@godslave05 please add this from your side on the app.

[2020-11-05 20:12] olagalal commented on #15
@Ray-LZ @diegopau  I checked for this Error, it's not a server side error. I searched and I think it's related to something called 'DioError' in flutter, @godslave05 could you please help me to figure out why this error is returning?

[2020-11-05 20:26] #76 closed

[2020-11-06 10:12] olagalal commented on #32
waiting for a specific properties of user that I should return.

[2020-11-06 21:47] olagalal opened #101 "Change Light Color"
Enable the user to change the color of specific light form the lights available in lightScene

[2020-11-09 16:43] Ray-LZ commented on #99
When a user received an access  invitation sent from an owner, the user that received the invitation should not be allowed to edit the fields (customize "access request" @godslave05

[2020-11-09 16:48] diegopau commented on #99
related to https://github.com/oceanbuilders/ob-flutter-app/issues/116

[2020-11-09 16:50] #51 closed

[2020-11-09 16:59] Ray-LZ commented on #90
we should assign points for the server and app side

[2020-11-10 10:27] olagalal commented on #96
9 Nov: Dev Team Meeting (50 min)

[2020-11-10 17:46] diegopau commented on #62
Ata said he is still looking into it. I keep it open and move to 0.8

[2020-11-10 21:30] olagalal commented on #96
10 Nov: Hardware Team Meeting (1 hour 5 min)
10 Nov: Meeting with Bruno (44 min)

[2020-11-10 22:30] Ray-LZ commented on #3
Not able to reproduce

[2020-11-10 22:30] #3 closed

[2020-11-10 22:35] Ray-LZ commented on #61
Hi @olagalal
No, I tested this directly in the app but it's not ready yet. This should be accomplished on version 0.8

[2020-11-10 22:41] Ray-LZ commented on #100
Hi @olagalal I was able to reproduce it. This time I make sure I didn't tap the button twice
https://drive.google.com/file/d/1mDpI8x_4EH8OWNbxi3FNvGbOvpc1iu97/view?usp=sharing

[2020-11-10 22:44] Ray-LZ commented on #59
FYI @Bruno-N

[2020-11-15 12:35] olagalal commented on #61
Thank you Ray

[2020-11-15 16:10] godslave05 commented on #90
This is not implemented in App. Currently the state is only saved in app memory.
Will integrate it  in next release

[2020-11-16 18:17] Ray-LZ commented on #54
Hi @godslave05 please check this, access request is not working

[2020-11-17 16:30] olagalal commented on #54
@Ray-LZ try this again

[2020-11-17 18:39] olagalal commented on #100
@Rat test again

[2020-11-17 18:39] olagalal commented on #100
@Ray-LZ I fixed it, check again please.

[2020-11-18 15:34] Ray-LZ commented on #43
This is fixed tested with app version 0.7.0(9)
I have reported a small issue related to this popup #148

[2020-11-18 15:35] #43 closed

[2020-11-19 15:45] Ray-LZ commented on #100
Fixed
![image](https://user-images.githubusercontent.com/46169036/99688961-ff5b0100-2a4b-11eb-83e2-d5f53a2a0d45.png)

[2020-11-19 15:45] #100 closed

[2020-11-19 15:53] Ray-LZ commented on #54
Hi @olagalal I just test "grant new access" & "access request" we still have the error message displayed.
![image](https://user-images.githubusercontent.com/46169036/99689782-06364380-2a4d-11eb-9dfa-084629c4e64b.png)

[2020-11-19 23:06] olagalal commented on #54
@godslave05 did you add this from your type?

[2020-11-19 23:23] olagalal commented on #52
@godslave05 @Ray-LZ they are two different accounts ("email": "ray+p2@scissorboy.com", email": "ray@scissorboy.com")  , and one of them are created before we added the default lightScenes to the server. So please create new account and compare the two apis

[2020-11-22 20:34] olagalal opened #102 "[admin panel] Admin Logout"

[2020-11-28 09:48] olagalal commented on #56
https://redis.io/commands/geoadd

[2020-11-29 13:47] olagalal commented on #18
@diegopau the link is not working

[2020-11-29 13:54] olagalal opened #103 "Permission - return (isDefalut=false) even if sent as true from client side"
newly created permission set should always return isDefault=false

[2020-11-29 13:57] olagalal opened #104 "too much Seapod Info is visible for 'visitor' type"

[2020-11-29 14:09] olagalal opened #105 "Access Requests for new user (when Seapod not found) it still creates the user"

[2020-11-29 19:52] godslave05 commented on #4
@olagalal I am getting internal server error when trying to download an qrcode image.
Like this one
https://oceanbuilders.herokuapp.com/qrcodes/S9CA9C1.png

[2020-11-29 21:00] godslave05 commented on #15
fixed in 0.7+10

[2020-12-07 13:20] KanikaDevops commented on #10
Storypoints =10

[2020-12-07 13:21] KanikaDevops commented on #14
Storypoints =10

[2020-12-07 13:22] KanikaDevops commented on #36
Storypoints =10

[2020-12-07 13:22] KanikaDevops commented on #63
Storypoints =35

[2020-12-07 13:22] KanikaDevops commented on #70
Storypoints =17.5

[2020-12-07 13:23] KanikaDevops commented on #72
Storypoints =17.5

[2020-12-07 13:23] KanikaDevops commented on #73
Storypoints =17.5

[2020-12-07 13:23] KanikaDevops commented on #28
Storypoints =10

[2020-12-07 13:25] KanikaDevops commented on #11
Storypoints =17.5

[2020-12-07 13:26] KanikaDevops commented on #37
Storypoints =10

[2020-12-07 13:27] KanikaDevops commented on #16
Storypoints =10

[2020-12-07 13:28] KanikaDevops commented on #20
Storypoints =10

[2020-12-07 13:35] KanikaDevops commented on #19
Storypoints=10

[2020-12-07 13:35] KanikaDevops commented on #17
Storypoints=10

[2020-12-07 13:35] KanikaDevops commented on #33
Storypoints=10

[2020-12-07 13:42] KanikaDevops commented on #33
Storypoints=10

[2020-12-16 20:32] olagalal commented on #52
@Ray-LZ any updates?

[2020-12-20 11:36] olagalal opened #106 "[admin panel] Get All Owners"

[2020-12-22 23:25] olagalal commented on #4
@Ray-LZ @godslave05 bug is solved, but for newly created seapod. So you should reset the db before testing this.

[2020-12-22 23:26] olagalal commented on #52
@Ray-LZ any updates?

[2021-01-05 18:13] olagalal commented on #60
https://oceanbuilders.herokuapp.com/v1/logs

[2021-01-06 22:01] olagalal commented on #4
@Ray-LZ test this please

[2021-01-07 16:43] Ray-LZ commented on #4
Test pass iOS & Android
![image](https://user-images.githubusercontent.com/46169036/103919053-34dbac80-50d5-11eb-9d74-0ccfbcf1b03a.png)

[2021-01-07 16:43] #4 closed

[2021-01-07 17:03] Ray-LZ commented on #52
@godslave05 please check the response for creating an account and login, and discuss with Ola if we get all that we need or maybe if something has to be removed?

[2021-01-08 06:41] godslave05 commented on #15
fixed in 0.7+11

[2021-01-08 09:08] godslave05 commented on #54
"type" field added. Working for the existing user. For unknown user returning 404 ("No user found")
send invitation api is invoked with "seapodId",  "email",, "type" and "permissionID"
But what about the "access date" and "access duration" ? Is there a default settings in the server for this attributes ?
also there is "message" and "name" field in the UI.

[2021-01-08 09:15] godslave05 commented on #54
Implemented in 0.7+11

[2021-01-08 09:18] godslave05 commented on #59
@olagalal  the api is returning 404 for unknown user.
*** DioError ***:
I/flutter ( 5649): uri: https://oceanbuilders.herokuapp.com/v1/api/access-requests/invitations/5ff6d6c26173bb0015e026c6
I/flutter ( 5649): DioError [DioErrorType.RESPONSE]: Http status error [404]
I/flutter ( 5649): uri: https://oceanbuilders.herokuapp.com/v1/api/access-requests/invitations/5ff6d6c26173bb0015e026c6
I/flutter (

[2021-01-08 09:20] godslave05 commented on #52
Yes, its returning the data required

[2021-01-08 09:26] godslave05 commented on #54
@olagalal For unknown user the Send Access Invitation API is returning 404

[2021-01-08 18:41] #52 closed

[2021-01-10 14:59] olagalal opened #107 "Send Access Invitation to non-existing users"
Allow the seapod owner to send invitation to non-exisiting user.
The server should send an email for the user to accept the invitation.

[2021-01-10 15:02] olagalal opened #108 "Add extra fields to Send Access Invitation (Add Members) endpoint"
add name, access as, access from (date), access for (how long?), and message.

[2021-02-02 19:36] olagalal opened #110 "add deep linking to email verification"

[2021-02-02 19:37] olagalal opened #111 "add deep linking to reset password"

[2021-02-02 19:38] olagalal opened #112 "add deep linking to access request/invitation"

[2021-02-02 19:39] olagalal opened #113 "update UI/UX for emails"

[2021-02-02 19:39] olagalal opened #114 "send Password Changed Mail"

[2021-02-03 23:51] #96 closed

[2021-02-03 23:51] #113 closed

[2021-02-03 23:51] #34 closed

[2021-02-03 23:52] #26 closed

[2021-02-03 23:52] #21 closed

[2021-02-03 23:52] #35 closed

[2021-02-03 23:52] #22 closed

[2021-02-03 23:52] #95 closed

[2021-02-03 23:53] #54 closed

[2021-02-03 23:53] #59 closed

[2021-02-03 23:53] #106 closed

[2021-02-03 23:53] #102 closed

[2021-02-03 23:53] #32 closed

[2021-02-03 23:53] #108 closed

[2021-02-03 23:53] #110 closed

[2021-02-03 23:54] #60 closed

[2021-02-04 13:46] godslave05 commented on #6
this is done

[2021-02-04 13:46] #6 closed

[2021-02-04 13:46] godslave05 commented on #7
this is done

[2021-02-04 13:46] #7 closed

[2021-02-06 07:16] #24 closed

[2021-02-07 08:08] #15 closed

[2021-02-09 11:39] godslave05 commented on #97
Done

[2021-02-09 11:39] #97 closed

[2021-02-10 05:53] godslave05 commented on #90
implemented, @olagalal please allow the app to get the selected-weather-source. You may create a new issue for this.

[2021-02-10 05:53] #90 closed

[2021-02-11 08:08] olagalal commented on #90
@godslave05 okay, working on this

[2021-02-11 08:46] olagalal commented on #13
@godslave05 I need more details about what is required.

[2021-02-11 08:53] olagalal opened #115 "update swagger doc"
Update swagger doc on ob-webserver.

Acceptance Critera
--------------------
1. Updating from Swagger 2 to Open API 3.
2. Add other endpoints that are not currently in documentation.

[2021-02-11 08:54] #114 closed

[2021-02-11 08:54] #111 closed

[2021-02-11 09:00] olagalal commented on #18
**Brief Description**
User can get the weather status using location of the Ocean builder through third party API. User can also get weather status from weather stations if the Ocean builder have one or from the nearest weather station.

**Initial Step-By-Step Description:**
1. User should select the weather status provider.
2. The mobile app will check the local weather station first.
3. If the o

[2021-02-17 11:15] godslave05 commented on #46
https://github.com/oceanbuilders/ob-flutter-app/issues/160

[2021-02-17 11:15] #46 closed

[2021-02-17 22:47] scottdear opened #116 "Middleware security issue - privilege escalation bug"
Sorry to poke my head in, I was just browsing the code and ran across this, but could not help but open an issue :)

https://github.com/oceanbuilders/ob-web-server/blob/46f4d22eb507c204201bd4cb417d94a906351192/middlewares/admin.js#L6

That line seems to have access dependent on some value in the incoming request.
I see at:

https://github.com/oceanbuilders/ob-web-server/blob/46f4d22eb507c204201bd4

[2021-02-17 23:04] #116 closed

[2021-02-17 23:35] scottdear opened #117 "feature request: Add OpenIDC support for authentication"
Add support for OpenIDC/Oauth 2.0 Implicit auth flow.

For example in this bit of code:

https://github.com/oceanbuilders/ob-web-server/blob/46f4d22eb507c204201bd4cb417d94a906351192/middlewares/auth.js#L13

You could allow people the authenticate w/ their google (or your own OpenIDC Oauth Provider) account by validating their token via

https://accounts.google.com/.well-known/openid-configuration

[2021-02-17 23:47] scottdear opened #118 "feature request: add micro-services support"
It would add to the scalability of the solution  if the some of the services in the following list were spun out into their own NodeJS process.

https://github.com/oceanbuilders/ob-web-server/blob/46f4d22eb507c204201bd4cb417d94a906351192/startup/routes.js#L25

The NodeJS "micro" services could then be called either directly via an HTTP API, or via a back-end message bus for telemetry and other hig

[2021-02-23 12:43] #101 closed

[2021-02-23 23:32] angiedear opened #119 "Make an open API Spec 3.0 in JSON"
Based on the current endpoints made available on the NodeJS server that is running on the pie, document the current API using the [OpenAPI specification 3.0](https://swagger.io/specification/).  When done create a PR w/ the open API spec (use JSON format) in the webserver repo.

[2021-02-26 18:19] scottdear opened #120 "Create design for Automation Admin"
Top level requirements

- Data must be sync'd between Raspberry Pi, Cloud and App (local app storage, not remote)
- Data must contain the following tables w/ an authenticated CRUD API:
    * Data Devices - A table of devices that generate data
    * Alerts - Definition of events triggered by data devices must support Binary, Categorical and Measurement.
    * Communication/Automation Devices - A t

[2021-03-02 16:29] angiedear opened #121 "Create a database sync design doc"
Create design documentation that explains components needed and methods to synchronize data between cloud mobile app and pi

[2021-03-02 16:50] angiedear opened #122 "Requirements Document for Turning on the Lights"
Aside from turning on lights from a switch, what are the other requirements with the lights?

[2021-03-03 13:01] diegopau opened #123 "OLD issues, exported from JIRA. From version 0.1 to 0.7"
Can be found here https://files.oceanbuilders.com/published/public-library/SeaPod%20Management%20App%20development/Initial%20designs%20and%20functionalities/JIRA%20exports%20of%20all%20the%20initial%20Jira%20issues

[2021-03-03 13:02] #123 closed

[2021-03-03 19:50] angiedear commented on #122
I wrote up the requirements doc, you can find it here: https://docs.google.com/document/d/1HDUE187lcpBaSFrZQoMmmkepjqKvxHwU6dKr5tkKRcU/edit?usp=sharing
It's currently being reviewed by Grant, but if you have any questions or comments, feel free to do so.

[2021-03-03 19:50] #122 closed

[2021-03-03 20:34] scottdear opened #124 "Replace MQTT calls with calls to Control Server REST API for Lights"
Replace any MQTT code with code that makes REST API calls to the Control Server API being created as part of oceanbuilders/smartpod#5.

Any other calls to MQTT need to be deprecated so that the NodeJS servers are not holding open TCP/IP sockets connections and doing I/O.  NodeJS needs to only be doing short lived tasks that complete and exit in a short amount of time.

[2021-03-03 20:47] scottdear opened #125 "Add endpoints for light services to NodeJS server (PodServer) on Pi"
Update the webserver to support the following endpoints to provide an authentication layer in front of the controller server (that only listens on localhost).  The controller server does not have authentication so the NodeJS server must provide authentication in front of these endpoints.  The Controller server API will be created on oceanbuilders/smartpod#4

These endpoints will accept connection

[2021-03-04 02:30] dramm33 commented on #122
One thing that is not on that document (maybe Grant will add or he forgot) is that there are still deciding on the color temperature of the white.

I suggested using cool white (around 6500 K) on the kitchen and bathroom and warm white (around 3000 K) on the rest of the pod. That wouldn't require any extra setting on the app.

So only an RGB selector (outputting 1 byte for each of the three channe

[2021-03-04 14:52] angiedear commented on #122
That's really good information, I'll bring it up and see what i can get
figured out.  Thank you!

On Wed, Mar 3, 2021 at 6:31 PM dramm33 <notifications@github.com> wrote:

[2021-03-05 14:32] scottdear commented on #122
This issue got closed. @dramm33 but you bring up a good point.  I've asked @angiedear to add color changing to the requirements document.  Let's chat about this as I think your issues are addressed in the API that's in the new issues I opened in the smartpod repo.  I'd like to get your input and see if you'd like to get started on some of that.

[2021-03-08 16:53] angiedear commented on #119
T-Shirt size = medium

[2021-03-09 15:35] scottdear commented on #62
Does this still need to be done.  For Authentication it appears there is a bearer token scheme already implemented.  Also OpenIDC/Oauth 2.0 works well, with an authentication code flow. Is there more that needs to be done here?

[2021-03-09 15:38] scottdear commented on #115
Hi @olagalal hope all is well, want to see how this one is coming.  @godslave05 is working on an OpenAPI 3.0 spec for the light turning on/off stuff.   This would be great to have to enable some automated testing.

[2021-03-09 15:39] scottdear commented on #112
Can we get some more details on what needs to be done on this issue?

[2021-03-09 16:46] scottdear commented on #5
Also add details for POC.  What do we want to prove?

[2021-03-10 14:10] scottdear commented on #115
@ola I'm moving this to the to-do column for this sprint.   Also once you've updated swagger can you create and check in an Open API 3.0 file w/ this definition.  This should be at the top of the priority list.

[2021-03-10 14:13] scottdear commented on #105
@olagalal I'm moving this one to the backlog.  it's lower priority than getting the Open API specs done and getting the pi server going.

[2021-03-10 14:16] scottdear commented on #56
@olagalal I've moved this to the backlog, as weather is a lower priority at the moment.

[2021-03-10 14:18] scottdear commented on #112
@olagalal moving this to the backlog, getting the pi server running and OpenAPI specs is priority 1.

[2021-03-10 14:19] scottdear commented on #107
@olagalal moving this to backlog

[2021-03-11 14:46] angiedear commented on #115
@olagalal can I get a status update for this one please?

[2021-03-11 14:52] angiedear commented on #112
@olagalal can you please update status for this issue?

[2021-03-11 14:57] angiedear commented on #119
@godslave05 can you let me know where you're at with this issue?  It should be moving over to the in progress column so that it can be finished by Monday.

[2021-03-11 15:42] scottdear commented on #62
@Mikisson do we still need more research on this or can we close it out?

[2021-03-11 15:46] #62 closed

[2021-03-12 03:31] godslave05 commented on #119
I am working on it, could not give much time but hope in next couple of days I will be able to create the swagger doc

[2021-03-12 07:01] godslave05 commented on #119
This is where I am at now. Could you review to see I am on right track.

openapi: 3.0.0
info:
  version: 1.0.0.0
  title: 'light control api'
  description: 'A prototype API to control light on seapod'

servers:
  - https://oceanbuilders.herokuapp.com/v1

# Basic authentication
components:
  securitySchemes:
      type: apikey
      in: header
      name: X-Auth-Token
    security:
      - ApiKeyA

[2021-03-12 14:12] olagalal opened #126 "Notifications are not working"
we need to update the current notification model so it could work on mobile app.

[2021-03-12 18:14] scottdear commented on #126
@olagalal are you saying that we need re-think the approach to notifications.  If so, should we change this issue so that the acceptance criteria is a design document with the new approach?

Another question, does this need to be done right now, or can it wait until after we get the turn the lights on work done?

[2021-03-12 19:23] angiedear commented on #119
@scottdear could you take a look at Asad's code please?

[2021-03-14 12:46] scottdear commented on #5
@godslave05 I'm good with Firebase. And I think if we are going to track user statistics we should open up new issues that are smaller and more focused.

I think to close this one we should do the following:

Write up a 1-2 page doc that describes why we are using Firebase, e.g. it can work offline, handles push notifications, etc.  Be sure to include at least one alternative choice of database, t

[2021-03-14 15:51] scottdear commented on #119
Oops sorry didn't mean to close this.  Please have a look at the gist, I left some comments, once you've implemented those, please create a pull request in the flutter repo w/ that API spec.

[2021-03-14 16:22] scottdear opened #127 "Update nodejs to fix security issues"
npm install shows:
found 20 vulnerabilities (10 low, 2 moderate, 8 high)
  run `npm audit fix` to fix them, or `npm audit` for details

[2021-03-14 17:10] scottdear opened #128 "Fix information disclose security issue"
Any time an endpoint can tell you if a username exists or not it's an information security disclosure.

Here's an article that explains why this is an issue :)

https://www.netsparker.com/blog/web-security/information-disclosure-issues-attacks/

I made updates to the light service, but imagine this needs to also be addressed elsewhere.

I also removed mongo logging from ob

[2021-03-15 16:52] godslave05 commented on #119
@scottdear I have updated the gist with 1st version of the api spec.

[2021-03-15 20:56] olagalal commented on #105
yeah sure, no problem

[2021-03-15 20:57] olagalal commented on #56
no problem, I was stuck at this issue anyway.

[2021-03-15 21:07] olagalal commented on #126
Hello @scottdear,
no, there was a bug in our firebase push notifications. Abdullah was not getting any data associated with the notification, so I was working on fixing this issue by modifying the notification json model.

It's not a priority, we need to finish the lights and other 'to do' in this sprint.

[2021-03-16 14:33] scottdear commented on #119
Add this to ob-web-sever repository create a PR and add Ola and I as reviewers, then move this issue to In Review

[2021-03-16 14:45] scottdear commented on #115
Can we get the yaml file checked into the ob-web-server repo, created a PR, and add Asad and I as reviewers.

[2021-03-16 15:44] scottdear opened #129 "Migrate to AWS server"
Migrate existing software to AWS instance
Document process so we can script the install later.
Deploy the code for ob-web-server
Deploy the code for raspberry-pi server (If needed).

[2021-03-18 17:34] angiedear commented on #115
Hi Ola, can I get a status update for this one please?

[2021-03-19 17:04] godslave05 commented on #5
I have tried to gather information about the alternatives here.
https://docs.google.com/document/d/1WASpa7vL2C4kAosW629dxgajpJyKLvOCFwzLxv4UM8M/edit?usp=sharing

[2021-03-19 21:37] olagalal commented on #115
work in progress

[2021-03-22 02:00] angiedear commented on #119
You can merge this pull request per Scott

[2021-03-22 15:12] #5 closed

[2021-03-22 15:18] #53 closed

[2021-03-23 15:19] olagalal commented on #115
https://oceanbuilders.herokuapp.com/v1/docs/

[2021-03-23 15:50] scottdear opened #131 "Investigate using Firebase as Oauth Provider for SSO"
Look at using Firebase to replace the existing Auth service that is in the ob-web-server.

Acceptance Critera
----------------------
1. Research support for OpenIDC validate it has Authentication Flow
2. Write a design document with a flow diagram that shows how Firebase auth will be integrated with existing Auth service.

[2021-03-23 22:27] olagalal commented on #13
https://oceanbuilders.herokuapp.com/v1/api/seapods/:seapodId/users/:userId

Access Disable is different from 'Remove seapod member'
but both only the admin can request them

[2021-03-23 22:27] #13 closed

[2021-03-24 15:19] angiedear commented on #115
Hi Ola, does the link above need review or are you just showing progress?

[2021-03-24 15:20] angiedear commented on #126
Hi Ola, can I get a status update for this one please?

[2021-03-24 19:36] angiedear commented on #119
Hi Asad, you can go ahead and merge this pull request per Scott.

[2021-03-24 22:43] olagalal commented on #126
working with Asad on this

[2021-03-24 22:46] olagalal commented on #115
this is the old swagger 2 doc, the progress is on oas3_doc branch, you can check it.

[2021-03-28 12:33] olagalal commented on #115
#132

[2021-03-28 12:34] olagalal commented on #115
#132 related PR

[2021-03-28 16:06] scottdear commented on #115
Ah so do the changes in #132 address this issue as well?  If so, please move this do done after you have merged the PR into the master branch.

[2021-03-28 17:46] #115 closed

[2021-03-29 00:18] scottdear commented on #27
@diegopau @Mikisson @godslave05 do we need to put this in the backlog, or can we close it?

[2021-03-29 00:20] scottdear commented on #119
merged and purged

[2021-03-29 00:20] #119 closed

[2021-03-29 07:52] godslave05 commented on #126
Hello @olagalal this is related to the issue we are having now
https://stackoverflow.com/questions/13916673/issue-with-json-stringify-adding-a-extra-and-to-my-json-object

[2021-03-29 14:47] scottdear commented on #126
@godslave05 should we open a new issue to track the JSON problem?

[2021-03-29 15:28] #27 closed

[2021-04-02 15:16] scottdear commented on #129
Needs to get access from outside world to be able to test this remotely.  This will need a hole in the firewall.  on Port 443 and an SSL certificate provisioned.

[2021-04-02 16:53] olagalal commented on #129
- Deployed the code for ob-web-server, and ob-raspberrypi-server, and Working on background:

- Installed mongodb and mysql
- Installed yarn and pm2

Next:
- Wait until Scott add access from outside on port 403
- Finish the documentation of the process

Questions:
- Should we have local mongo database or just connect to the one hosted on cloud.mongodb.com?
- Should we install phpMyAdmin to view my

[2021-04-05 14:18] angiedear commented on #129
Hi Ola, are you blocked on this issue currently?

[2021-04-05 19:07] olagalal commented on #129
yes, I am waiting for Scott to finish https://github.com/oceanbuilders/ob-iac/issues/6 and https://github.com/oceanbuilders/ob-iac/issues/5

[2021-04-10 20:11] olagalal commented on #125
[related PR](https://github.com/oceanbuilders/ob-pod-server/pull/1)

[2021-04-10 21:44] olagalal commented on #127
<img width="669" alt="Screen Shot 2021-04-10 at 11 44 23 PM" src="https://user-images.githubusercontent.com/12789198/114285334-b0435600-9a56-11eb-9de1-8b10ffc61c2a.png">

[2021-04-12 14:53] #125 closed

[2021-04-15 15:16] scottdear commented on #129
Software was moved, we will not be installing/configuring backups to new software.

[2021-04-15 15:16] #129 closed

[2021-04-17 13:42] #127 closed

[2021-06-10 15:25] angiedear opened #135 "Check on nabucasa renewal"
Renewed in May after trial, wasn't allowing access, Angie to contact support

[2021-06-14 01:09] angiedear commented on #135
Should be working now, had to restart nabucasa first.  @godslave05 please check if it's working for you and if so we can close this issue.

[2021-06-14 16:03] angiedear commented on #135
Asad confirmed he was able to log in.

[2021-06-14 16:03] #135 closed